In [1]:
from sklearn.datasets import load_iris
iris= load_iris()
iris

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'frame': None,
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'C:\\Users\\Rishit\\anaconda3\\lib\\site-packages\\sklearn\\datasets\\data\\iris.csv'}

In [2]:
import pandas as pd
df = pd.DataFrame(iris.data, columns= iris.feature_names)

In [3]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [4]:
df['target']= iris.target

In [5]:
df.sample(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
137,6.4,3.1,5.5,1.8,2
35,5.0,3.2,1.2,0.2,0
45,4.8,3.0,1.4,0.3,0
92,5.8,2.6,4.0,1.2,1
113,5.7,2.5,5.0,2.0,2

In [6]:
X= df.drop('target', axis=1)
y= df.target

In [7]:
from sklearn.preprocessing import MinMaxScaler
mn= MinMaxScaler()
X= mn.fit_transform(X)

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X,y, test_size= 0.25)

In [9]:
from sklearn import svm
svc= svm.SVC(kernel= 'rbf', C=30, gamma= 'auto')
svc.fit(X_train,y_train)

SVC(C=30, gamma='auto')

In [10]:
svc.score(X_test,y_test)

0.9736842105263158

In [11]:
from sklearn.model_selection import cross_val_score
cross_val_score(svc, X, y, cv=5)

array([0.96666667, 1.        , 0.93333333, 0.93333333, 1.        ])

In [12]:
cross_val_score(svm.SVC(kernel= 'linear', C=50, gamma = 'auto'), X,y, cv=5)

array([1.        , 0.96666667, 0.9       , 0.96666667, 1.        ])

In [13]:
from sklearn.model_selection import GridSearchCV
import numpy as np

In [14]:
kernel= ['linear', 'rbf']
C= [5,20,30,50]
avg_scores= {}
for k in kernel:
    for c in C:
        cv_scores = cross_val_score(svm.SVC(kernel= k, C= c, gamma= 'auto'), X,y , cv=3)
        avg_scores[k + "_" + str(c)] = np.average(cv_scores)
avg_scores

{'linear_5': 0.98,
 'linear_20': 0.9666666666666667,
 'linear_30': 0.96,
 'linear_50': 0.9666666666666667,
 'rbf_5': 0.98,
 'rbf_20': 0.9733333333333333,
 'rbf_30': 0.9733333333333333,
 'rbf_50': 0.96}

In [15]:
clf= GridSearchCV(svm.SVC(gamma= 'auto'), {"kernel": ['linear', 'rbf'], "C":[5,13,17,50]}, cv= 3, return_train_score= False)
clf.fit(X,y)
clf.cv_results_

{'mean_fit_time': array([0.00166225, 0.0019908 , 0.00132744, 0.00099738, 0.0009977 ,
        0.00099786, 0.00033236, 0.        ]),
 'std_fit_time': array([4.70864602e-04, 6.63300883e-06, 4.71440305e-04, 6.83651389e-07,
        5.94720425e-07, 8.14588105e-04, 4.70021655e-04, 0.00000000e+00]),
 'mean_score_time': array([0.00033315, 0.00099738, 0.00066519, 0.00066511, 0.00099659,
        0.00099715, 0.00033243, 0.        ]),
 'std_score_time': array([4.71145571e-04, 8.14296062e-04, 4.70359836e-04, 4.70303127e-04,
        5.15042996e-07, 4.05233662e-07, 4.70134046e-04, 0.00000000e+00]),
 'param_C': masked_array(data=[5, 5, 13, 13, 17, 17, 50, 50],
              mask=[False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['linear', 'rbf', 'linear', 'rbf', 'linear', 'rbf',
                    'linear', 'rbf'],
              mask=[False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 5, 'kernel': 'linear'},
  {'C': 5, 'kernel': 'rbf'},
  {'C': 13, 'kernel': 'linear'},
  {'C': 13, 'kernel': 'rbf'},
  {'C': 17, 'kernel': 'linear'},
  {'C': 17, 'kernel': 'rbf'},
  {'C': 50, 'kernel': 'linear'},
  {'C': 50, 'kernel': 'rbf'}],
 'split0_test_score': array([1.  , 0.98, 0.98, 0.98, 1.  , 1.  , 1.  , 1.  ]),
 'split1_test_score': array([0.98, 1.  , 0.98, 0.98, 0.94, 0.98, 0.92, 0.92]),
 'split2_test_score': array([0.96, 0.96, 0.96, 0.96, 0.96, 0.96, 0.98, 0.96]),
 'mean_test_score': array([0.98      , 0.98      , 0.97333333, 0.97333333, 0.96666667,
        0.98      , 0.96666667, 0.96      ]),
 'std_test_score': array([0.01632993, 0.01632993, 0.00942809, 0.00942809, 0.02494438,
        0.01632993, 0.03399346, 0.03265986]),
 'rank_test_score': array([1, 1, 4, 4, 6, 1, 6, 8])}

In [16]:
df1 = pd.DataFrame(clf.cv_results_)
df1

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.001662,4.708646e-04,0.000333,4.711456e-04,5,linear,"{'C': 5, 'kernel': 'linear'}",1.00,0.98,0.96,0.980000,0.016330,1
1,0.001991,6.633009e-06,0.000997,8.142961e-04,5,rbf,"{'C': 5, 'kernel': 'rbf'}",0.98,1.00,0.96,0.980000,0.016330,1
2,0.001327,4.714403e-04,0.000665,4.703598e-04,13,linear,"{'C': 13, 'kernel': 'linear'}",0.98,0.98,0.96,0.973333,0.009428,4
3,0.000997,6.836514e-07,0.000665,4.703031e-04,13,rbf,"{'C': 13, 'kernel': 'rbf'}",0.98,0.98,0.96,0.973333,0.009428,4
4,0.000998,5.947204e-07,0.000997,5.150430e-07,17,linear,"{'C': 17, 'kernel': 'linear'}",1.00,0.94,0.96,0.966667,0.024944,6
5,0.000998,8.145881e-04,0.000997,4.052337e-07,17,rbf,"{'C': 17, 'kernel': 'rbf'}",1.00,0.98,0.96,0.980000,0.016330,1
6,0.000332,4.700217e-04,0.000332,4.701340e-04,50,linear,"{'C': 50, 'kernel': 'linear'}",1.00,0.92,0.98,0.966667,0.033993,6
7,0.000000,0.000000e+00,0.000000,0.000000e+00,50,rbf,"{'C': 50, 'kernel': 'rbf'}",1.00,0.92,0.96,0.960000,0.032660,8

In [17]:
df1[['params', 'mean_test_score']].sort_values('mean_test_score',ascending=False)

                          params  mean_test_score
0   {'C': 5, 'kernel': 'linear'}         0.980000
1      {'C': 5, 'kernel': 'rbf'}         0.980000
5     {'C': 17, 'kernel': 'rbf'}         0.980000
2  {'C': 13, 'kernel': 'linear'}         0.973333
3     {'C': 13, 'kernel': 'rbf'}         0.973333
4  {'C': 17, 'kernel': 'linear'}         0.966667
6  {'C': 50, 'kernel': 'linear'}         0.966667
7     {'C': 50, 'kernel': 'rbf'}         0.960000

In [18]:
clf.best_score_

0.98

In [19]:
from sklearn.model_selection import RandomizedSearchCV
rfl = RandomizedSearchCV(svm.SVC(gamma= 'auto'), {'kernel':['linear', 'rbf'], 'C':[2,4,6,8,10]}, cv=5 , return_train_score= False, n_iter=2)
rfl.fit(X,y)
pd.DataFrame(rfl.cv_results_)[['params', 'mean_test_score']].sort_values('mean_test_score',ascending=False)

                         params  mean_test_score
0  {'kernel': 'linear', 'C': 8}         0.973333
1  {'kernel': 'linear', 'C': 2}         0.973333

In [20]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [21]:
model_select={
    'svm':{'model':svm.SVC(gamma='auto'), 'params':{'kernel':['linear', 'rbf'], 'C':[5,15,20]}},
    'rft':{'model':RandomForestClassifier(), 'params':{'n_estimators': [1,5,10]}},
    'lr':{'model':LogisticRegression(solver= 'liblinear', multi_class= 'auto'), 'params':{'C':[1,5,10]}}
}

In [22]:
scores1 = []
for i,j in model_select.items():
    cf =GridSearchCV(j['model'],j['params'], cv=3, return_train_score= False)
    cf.fit(X,y)
    scores1.append({'model_name':i, 'best_score': cf.best_score_, 'best_params': cf.best_params_})

In [23]:
scores1

[{'model_name': 'svm',
  'best_score': 0.98,
  'best_params': {'C': 5, 'kernel': 'linear'}},
 {'model_name': 'rft',
  'best_score': 0.9666666666666667,
  'best_params': {'n_estimators': 10}},
 {'model_name': 'lr',
  'best_score': 0.9066666666666666,
  'best_params': {'C': 10}}]

In [24]:
df2 = pd.DataFrame(scores1, columns=['model_name','best_score','best_params'])
df2

  model_name  best_score                   best_params
0        svm    0.980000  {'C': 5, 'kernel': 'linear'}
1        rft    0.966667          {'n_estimators': 10}
2         lr    0.906667                     {'C': 10}